{% extends 'base.html' %}

{% block content %}
    {% for post in post_list %}
        <h1>{{ post.title }}</h1>
        <p>{{ post.body }}</p>
        <p>--
            <a href="{% url 'author_post_view' post.author.user.pk %}">
                {{ post.author.user.username }}
            </a>
        </p>
        <span>Tags: </span>
        {% for tag in post.tags.all %}
            <span>{{ tag }} </span>
        {% endfor %}
        {% if post.author.user == request.user %}
            <a href="{% url 'tag_create_view' post.pk %}">Add Tag</a>
        {% endif %}
    {% endfor %}
{% endblock %}